# Escludi tutte le cartelle __pycache__ in qualsiasi percorso
**/__pycache__/

# Escludi tutte le cartelle wandb ovunque
**/wandb/

# Escludi tutti i file con estensione .jpg, .ph e .pth ovunque si trovino
**/*.jpg
**/*.ph
**/*.pth

.venv
.idea
.DS_store