# Escludi tutte le cartelle _pycache_ in qualsiasi percorso
__pycache__/

# Escludi tutte le cartelle wandb ovunque
**/wandb/

# Escludi tutti i file con estensione .jpg, .ph e .pth ovunque si trovino
*/.jpg
*/.ph
*/.pth
*.ph
*.pth
repository/


.venv
.idea
.DS_store
Competition/
